deb http://repo.zabbix.com/zabbix/3.2/{{ ansible_os_family | lower }} {{ ansible_distribution_release }} main
deb-src http://repo.zabbix.com/zabbix/3.2/{{ ansible_os_family | lower }} {{ ansible_distribution_release }} main
